/***** BASE CSS *****/


/* Site Name */

#divSiteTitle {text-decoration:none;}

#divTagLine {text-decoration:none;}


/* Headline Text */

#divHeaderLine1 {display:inline-block !important}

#divHeaderLine2 {display:inline-block !important}

#divHeaderLine3 {display:inline-block !important}


/* Headings */

h3, h4, h5, h6 {line-height:1.5 !important}

.lead {
    text-align:center;
}

.lead h2 {
    font-size:33px;line-height:45px;
}

.lead h3 {
    font-size:17px; 
}

.lead h3 a {
    font-size:inherit !important;
}


/* Contact */

ul#contact-info .icon {font-size:20px;float:left;line-height:25px;margin-right:10px;}

ul#contact-info .field {font-weight:bold;}

ul#contact-info {list-style:none;}


/* Grid */

#tiles li {
width:240px !important;
background-color: #ffffff;
border: 1px solid #dedede;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
padding: 10px !important;
margin-right:7px;margin-bottom:7px;float:left;
}

#tiles li img {margin-bottom:10px;}

#tiles li div.meta {color:#999;text-transform:uppercase;font-size:10px;margin:0;}

#tiles li h4 {line-height:1.5;margin:0 0 5px 0;}

#tiles li h4 a {line-height:inherit;margin:0;text-decoration:inherit;color:inherit;font-size:inherit;font-family:inherit;font-weight:inherit;font-style:inherit;}

#tiles li p {font-size:12px;line-height:1.5;margin:0;}

#tiles li a {font-size:12px;}

#tiles li .more_link {font-size:smaller;line-height:2;text-transform:uppercase;letter-spacing:2px;white-space:nowrap;display:block;margin: 5px 0 0 0;}

#tiles li blockquote {line-height:1.5;margin:0;padding:0;color:#999;border:none;font-size:150%;font-style:italic;font-family:Georgia, Times, serif;}

#tiles li blockquote small {font-size:11px;font-style:normal;}


/* Icons */

[class*="social foundicon-"]:before {font-family: "SocialFoundicons";}

[class*="general foundicon-"]:before {font-family: "GeneralFoundicons";}

        
/* Menu Side */

.menu_menu_simple ul {margin-top:0px;margin-bottom:0px;}

.menu_menu_simple ul li {margin-top:0px;margin-bottom:0px;}


/* Header Area */

#decorative1 {
margin-top:-2px;padding-top:2px;    
margin-left: 0px !important;
margin-right: 0px !important; /* fix bg cover issue */
}


/* Menu Centered */

.centered_menu {text-align:center}

.centered_menu > div {display:inline-block;}

.centered_menu div {text-align:left}


/* Footer elements */

.social_bookmarks a {font-size:smaller !important;text-transform:uppercase;letter-spacing:1px;text-decoration:none;margin-right:20px;}

.copyright {font-size:smaller;letter-spacing:1px;}


/* Responsive Image */

img {max-width:100%;height:auto;width:auto;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}

/* Responsive Video from Zurb Foundation. Copyright (c) 2011 ZURB, http://www.zurb.com/ License: MIT */

.flex-video {position:relative;padding-top:25px;padding-bottom:67.5%;height:0;margin-bottom:16px;overflow: hidden;}

.flex-video.widescreen {padding-bottom:57.25%;}

.flex-video.vimeo {padding-top:0;}

.flex-video iframe, .flex-video object, .flex-video embed {position:absolute;top:0;left:0;width:100%;height:100%;border:none;}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
        .flex-video { padding-top: 0; }

    }

    
/* Additional */
    
#divBoxed {position:relative}
 
.nav-links > a {margin-right:20px;}

.btn-secondary, .btn-secondary:hover {text-shadow:none;}

#divHeaderLine1 a, #divHeaderLine2 a, #divHeaderLine3 a {
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-family: inherit;
    text-shadow: inherit;
    font-weight: inherit;
    font-style: inherit;
}

#divHeaderLine1, #divHeaderLine2, #divHeaderLine3 {
    padding-top:3px !important;
    padding-bottom:3px !important;
    text-align:inherit !important;
}

#decorative2 {/*opacity:0.95;*/

    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.03);
}

.showcase-tabs > li > a {
    font-size: 14px;
    letter-spacing: 1px;
    padding-left: 20px;
    padding-right: 20px;
}

.cap1 div, .cap2 div, .cap3 div, .cap4 div, .cap5 div {
    margin: 0 -1px;
}

.camera_wrap .camera_pag .camera_pag_ul li {margin:20px 5px 0px !important;
}


/* Adjustments */

.search.adjust {margin-bottom:15px}
      
.divPanel {}

.divPanel.notop {padding-top:0px}

.divPanel.nobottom {padding-bottom:0px}

/* Clearfix */
.clrfix:before, .clrfix:after { content: ""; display: table; }
.clrfix:after, .clr { clear: both; }
.clrfix { zoom: 1; }

/***** BOOTSTRAP CSS BASE OVERRIDE *****/

.navbar .nav-pills > li > a {text-shadow:none;font-weight:normal;}

.navbar .dropdown-menu li > a {text-shadow:none;font-weight:normal;}

.navbar .nav-pills > li > .dropdown-menu:before {border:none;}

.navbar .nav-pills > li > .dropdown-menu:after {border:none;}

.navbar .nav-pills > .active > a, .navbar .nav-pills > .active > a:hover, .navbar .nav-pills > .active > a:focus {-webkit-box-shadow: none;box-shadow: none;}

.navbar .nav-pills > li > a:hover, .navbar .nav-pills li.dropdown.open.active > .dropdown-toggle {-webkit-transition: ease-in-out .2s;-moz-transition: ease-in-out .2s;-o-transition: ease-in-out .2s;-ms-transition: ease-in-out .2s; transition: ease-in-out .2s;}

.navbar .nav-pills .open .dropdown-toggle {background-color:transparent;}

.btn .caret {margin-top: 8px !important;}



body{background-image: none; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: initial; background-position: initial initial; background-repeat: initial initial; }

#divLogo{margin-top: 38px; margin-bottom: 0px; margin-left: -3px; width: 36%}

#divSiteTitle {font-family: Allura, cursive; color: rgb(142, 176, 55); font-size: 45px; text-shadow: rgba(0, 0, 0, 0.298039) 2px 4px 3px; line-height: 40px; letter-spacing: 2px; text-transform: none; font-weight: bold; font-style: normal; text-decoration: none; margin-bottom: 10px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;}

#divTagLine {font-family: Aldrich, sans-serif; font-size: 11px; text-transform: uppercase; letter-spacing: 5px; color: rgb(140, 140, 140); text-shadow: none; padding-left: 0px; padding-right: 0px; font-weight: normal; font-style: normal; background-color: transparent; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: block;}
 
.navContainer {margin-top: 0px; }

.navContainer .navMenu {}

.navContainer .navMenu li {background-color: rgb(245, 245, 245); border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; }

.navContainer .navMenu li a {}

.navContainer .navMenu li.current {background-color: rgb(174, 0, 0); }

.navContainer .navMenu li.current a {}

.camera_caption > div {opacity: 0.85;filter:alpha(opacity=85);}

.camera_prevThumbs, .camera_nextThumbs, .camera_prev, .camera_next, .camera_commands, .camera_thumbs_cont {opacity: 0.85;filter:alpha(opacity=85) !important;background-color:rgb(255, 255, 255);}

.camera_wrap .camera_pag .camera_pag_ul li, .camera_wrap .camera_pag .camera_pag_ul li, .camera_wrap .camera_pag .camera_pag_ul li:hover > span {box-shadow: rgba(0, 0, 0, 0.121569) 0px 3px 8px inset; background-color: rgb(255, 255, 255);  }

.camera_wrap .camera_pag .camera_pag_ul li.cameracurrent > span {background-color: rgb(13, 13, 13);  }

.camera_wrap {display: block; margin-bottom: 15px; height: 410px; border: none; margin-left: 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-top: 51px; -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0pt 1px 4px; box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0pt 1px 4px;}

.cap1 > div {opacity: 0.85;filter:alpha(opacity=85);color:rgb(255, 255, 255);background-color:rgb(0, 0, 0);}

.cap2 > div {opacity: 0.85;filter:alpha(opacity=85);color:rgb(255, 255, 255);background-color:rgb(0, 0, 0);}

.cap3 > div {opacity: 0.85;filter:alpha(opacity=85);}

.cap4 > div {opacity: 0.85;filter:alpha(opacity=85);}

.cap5 > div {opacity: 0.85;filter:alpha(opacity=85);}

.camera_full_width {margin-left:-0px;margin-right:-0px}

h1 {font-family: 'Open Sans'; font-weight: normal; font-style: normal; font-size: 36px; line-height: 61px; margin-top: 0px; color: rgb(0, 0, 0); text-transform: none;}

.page-content {line-height: 26px; font-family: 'Open Sans', sans-serif; font-size: 15px;}

.page-content a {color: rgb(132, 164, 51); font-family: 'Open Sans', sans-serif; font-size: 15px; line-height: 29px;}

.sidebox {-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;-moz-box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;box-shadow:0 1px 3px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.1) inset;background-color:rgb(250, 250, 250);color:rgb(51, 51, 51);border-width:1px;border-style:solid;border-color:rgb(255, 255, 255);border-radius:3px;padding:18px;margin-top:11px; font-size: 13px;}

.sidebar {padding-top: 8px;;;}

.sidebox-title {line-height: 36px; font-weight: normal; font-style: normal; font-family: 'Open Sans'; color: rgb(51, 51, 51); font-size: 22px; text-transform: none;}

.sidebox a {font-size: 13px; color: rgb(132, 164, 51);}

#decorative1 {background-color: rgb(235, 235, 235); background-image: url(gray_jean.png); background-size: auto; -webkit-background-size: cover; background-repeat: repeat repeat;}

#decorative2{height: 135px; background-color: rgb(255, 255, 255);}

#divFooter {font-family: 'Open Sans', sans-serif; background-color: rgb(18, 18, 18); color: rgb(180, 173, 173); padding-top: 32px; line-height: 23px; font-size: 12px; text-transform: none; background-image: url(backgrounds/noisy_net.png); background-repeat: repeat repeat;}

#divFooter a {color: rgb(132, 164, 51);}

#divFooter h3 {color: rgb(180, 173, 173);}

h2 {font-weight: normal; font-style: normal; font-family: 'Open Sans'; font-size: 35px; line-height: 50px; text-transform: none;}

.breadcrumbs {line-height: 80px; font-family: 'Open Sans', sans-serif;}

.breadcrumbs a {color: rgb(132, 164, 51); font-family: 'Open Sans', sans-serif;}

#divHeaderLine1{letter-spacing: -1px; word-spacing: 0px; margin-top: 31px; color: rgb(142, 176, 55); font-size: 51px; line-height: 55px; font-family: Pacifico; text-transform: none; text-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(255, 255, 255, 0.298039) 0px -5px 35px; font-weight: normal; font-style: normal; text-align: left; opacity: 1; padding: 0px; background-image: none;}

#divHeaderLine2 {font-size: 21px; line-height: 27px; letter-spacing: 1px; margin-top: 12px; font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif; color: rgb(0, 0, 0); text-shadow: rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(255, 255, 255, 0.298039) 0px -5px 35px; text-align: left; font-weight: normal; font-style: italic; padding: 0px; opacity: 1; background-image: none; background-position: initial initial; background-repeat: initial initial;}

#divHeaderLine3{margin-top: 15px; color: rgb(0, 0, 0); text-align: left; text-transform: none; letter-spacing: 2px; font-size: 14px; line-height: 28px;}

a.btn, a.btn-large, a.btn-small, a.btn-mini {color:#333}

 a.btn-info, a.btn-success, a.btn-warning, a.btn-danger, a.btn-inverse, a.sl_but_read {color:#ffffff}

 .btn-secondary, .btn-secondary:hover, a.btn-secondary, a.btn-secondary:hover {color:#323232;}

 .btn-secondary {border:1px solid #dfdfdf;border-bottom:1px solid #afafaf;background-color:#fafafa;background-repeat: repeat-x;background-image:-webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#e1e1e1));background-image:-webkit-linear-gradient(top, #fafafa, #e1e1e1);background-image:-moz-linear-gradient(top, #fafafa, #e1e1e1);background-image:-ms-linear-gradient(top, #fafafa, #e1e1e1);background-image:-o-linear-gradient(top, #fafafa, #e1e1e1);background-image:linear-gradient(top, #fafafa, #e1e1e1);filter: progid:dximagetransform.microsoft.gradient(startColorstr=#fafafa, endColorstr=#e1e1e1, GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}

 .btn-secondary:hover, .btn-secondary:active, .btn-secondary.active, .btn-secondary.disabled, .btn-secondary[disabled] {background-color:#dfdfdf;}

.btn-primary, .btn-primary:hover, a.btn-primary, a.btn-primary:hover {color:#ffffff;}

 .btn-primary, .sl_but_read {border:1px solid #7e9d31;border-bottom:1px solid #637b27;background-color:#8eb037;background-repeat: repeat-x;background-image:-webkit-gradient(linear, left top, left bottom, from(#8eb037), to(#809e32));background-image:-webkit-linear-gradient(top, #8eb037, #809e32);background-image:-moz-linear-gradient(top, #8eb037, #809e32);background-image:-ms-linear-gradient(top, #8eb037, #809e32);background-image:-o-linear-gradient(top, #8eb037, #809e32);background-image:linear-gradient(top, #8eb037, #809e32);filter: progid:dximagetransform.microsoft.gradient(startColorstr=#8eb037, endColorstr=#809e32, GradientType=0);filter: progid:dximagetransform.microsoft.gradient(enabled=false);}

 .btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], .sl_but_read:hover {background-color:#7e9d31;}

#divHeaderText {border-color: rgb(51, 51, 51); padding-top: 143px; padding-bottom: 0px;;;;}

#decorative1 {-webkit-background-size:auto;-moz-background-size:auto;-o-background-size:auto;background-size:auto;}

#contentOuterSeparator{margin-top: 0px; border-top-color: rgb(237, 237, 237); border-top-width: 0px; border-top-style: solid; margin-bottom: 45px; height: 0px; background-color: rgb(245, 245, 245); background-image: -webkit-linear-gradient(top, rgb(245, 245, 245), rgb(255, 255, 255));}

#contentOuterSeparator{background-image:-moz-linear-gradient(bottom,#ffffff,#f5f5f5);filter:progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr=#f5f5f5, endColorstr=#ffffff);background-image:-o-linear-gradient(bottom,#ffffff,#f5f5f5);background-image:-webkit-gradient(linear,left top, left bottom,from(#ffffff),to(#f5f5f5));background-image:-webkit-linear-gradient(bottom,#ffffff,#f5f5f5);background-image:linear-gradient(bottom,#ffffff,#f5f5f5);}

#footerOuterSeparator{margin-top: 55px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(242, 242, 242);}

#headerSeparator{margin-top: 0px; border-top-color: rgb(51, 51, 51); border-top-width: 0px; border-top-style: solid;}

h3,.page-content h3 a {font-weight: normal; font-style: normal; font-family: 'Open Sans'; font-size: 24px; line-height: 36px; text-transform: none; color: #333;}

h4,.page-content h4 a {font-weight: normal; font-style: normal; font-family: 'Open Sans'; font-size: 21px; line-height: 50px; text-transform: none;}

h5,.page-content h5 a {font-weight: normal; font-style: normal; font-family: 'Open Sans'; font-size: 17px; line-height: 50px; text-transform: none;}

h6,.page-content h6 a {font-weight: normal; font-style: normal; font-family: 'Open Sans'; font-size: 15px; line-height: 50px; text-transform: none;}

.line-separator{border-top-width: 1px; border-top-style: solid; margin-top: 21px; margin-bottom: 21px; border-top-color: rgb(234, 234, 234); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid; }

#headerSeparator2{margin-top: 16px; margin-bottom: 1px; border-top-color: rgb(51, 51, 51); border-top-width: 0px; border-top-style: solid;}

#divVideo{border: 7px solid rgb(255, 255, 255); margin-left: -5px; -webkit-box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0px 1px 4px; box-shadow: rgba(0, 0, 0, 0.498039) 0px 15px 10px -10px, rgba(0, 0, 0, 0.298039) 0px 1px 4px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; margin-top: 44px;}

.nav .dropdown-toggle .caret {border-top-color:rgb(0, 0, 0);border-bottom-color:rgb(0, 0, 0);}

.nav .dropdown-toggle:hover .caret {border-top-color:rgb(0, 0, 0);border-bottom-color:rgb(0, 0, 0);}

.navbar .dropdown-menu, .dropdown-menu {background-color:rgb(255, 255, 255);border-radius:0px;}

.navbar .dropdown-menu li > a, .dropdown-menu li > a, .navbar .nav-pills .open .dropdown-toggle {color:rgb(0, 0, 0)}

.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu .active > a, .navbar .dropdown-menu .active > a:hover, .dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a, .navbar .nav-pills .open a.dropdown-toggle:hover {filter:none;color:rgb(255, 255, 255);background-color:#8eb037;background-image:none}

.navbar .nav-pills > li > a {margin-left:2px;margin-right:2px;padding:10px 15px;border-radius:0px;color:rgb(41, 41, 41);background-color:rgb(240, 240, 240)}

.navbar .nav-pills > li > a:hover, .navbar .nav li.dropdown.open.active > .dropdown-toggle, .navbar .nav-pills > li > a:focus {color:rgb(255, 255, 255);background-color:#8eb037}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle {background:none}

.navbar .nav-pills > .active > a, .navbar .nav-pills > .active > a:hover, .navbar .nav-pills li.dropdown.open > .dropdown-toggle, .navbar .nav-pills li.dropdown.active > .dropdown-toggle {color:rgb(255, 255, 255);background-color:#8eb037;}

.navbar .ddmenu {margin-top:45px;margin-bottom:0px}

.navbar .nav-pills li.dropdown > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.open > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.active > .dropdown-toggle .caret, .navbar .nav-pills li.dropdown.open.active > .dropdown-toggle .caret {border-top-color:rgb(41, 41, 41);border-bottom-color:rgb(41, 41, 41);}

.navbar .nav-pills li.dropdown > .dropdown-toggle:hover .caret {border-top-color:rgb(255, 255, 255);border-bottom-color:rgb(255, 255, 255);}

.navbar .nav-pills li.dropdown.active > .dropdown-toggle .caret {border-top-color:rgb(255, 255, 255);border-bottom-color:rgb(255, 255, 255);}

.dropdown-menu .sub-menu {left:100%;position:absolute;top:0;visibility:hidden;margin-top:-1px;}

.dropdown-menu li:hover .sub-menu {visibility:visible;}

.ddmenu.nav-pills li a {font-family: 'Bad Script', cursive; font-size: 16px; text-shadow: none; line-height: 17px;}

.ddmenu .dropdown-menu li a{line-height: 26px; font-size: 15px;}

.camera_caption {font-family: Calligraffitti; letter-spacing: 1px; line-height: 25px; font-size: 18px;}

#decorative2 {position:fixed;top:0;left:0;right:0;z-index:1032}

 body {padding-top:135px}

.lead h2 {font-size: 41px; line-height: 61px; font-family: 'Open Sans';}

.lead h3 {font-size: 19px; line-height: 29px; font-family: 'Open Sans';}

#decorative1 {-webkit-background-size:auto;-moz-background-size:auto;-o-background-size:auto;background-size:auto;}

.dropdown-menu .sub-menu {left:100%;position:absolute;top:0;visibility:hidden;margin-top:-1px;}
.dropdown-menu li:hover .sub-menu {visibility:visible;}
.navbar .btn-navbar-highlight {display:none;width:100%}

#decorative2 {z-index:100 !important}

@media (max-width: 979px) {
     #divLogo {margin-bottom:10px;}


    .navbar .btn-navbar-highlight {display:inline;padding:9px 14px;margin-top:15px;}

    .navbar {width:100%;}

    #divMenuRight {float:none}


    .dropdown-menu .sub-menu {left:0%;position:relative;top:0;visibility:visible;margin-top:3px;display:block}

    .dropdown-menu, .sub-menu {border-radius:5px !important;}

    .navbar .ddmenu {margin-top: 0px;margin-bottom: 0px;}


    /* Fixed Top */

    #decorative2 {position:static;  height:auto;}

    body {padding-top:0px}


}


@media (max-width: 767px) {    
    #divLogo {margin-top:10px;margin-bottom:10px;}

    #divSiteTitle {font-size: 25px;}

    
    #divHeaderText {margin:0px;padding:10px 0px;}
   
    #divHeaderLine1 {margin-top: 0px;}
     
    
    #divMenuRight {width:100%;margin-top: 0px;padding-top:0px}

    .ddmenu, .navbar .ddmenu {margin-top: 0px; margin-bottom: 0px;}

    .navbar .btn-navbar-highlight {padding:9px 14px;margin-top:0px;}

    .navbar {width:100%;margin-top: 0px;padding-top:0px}

    
    #decorative1, #decorative2, #decorative3 {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}

    
    /* Fixed Top */

    #decorative2 {position:static}

    body {padding-top:0px}

    
    #divFooter {margin-left:-20px;margin-right:-20px;padding-left:20px;padding-right:20px;}
    
    #divBoxed > #divFooter {margin-left:0px;margin-right:0px;padding-left:0px;padding-right:0px;}

    
    body > #footerOuterSeparator, body > #contentOuterSeparator {margin-left:-20px;margin-right:-20px;}

    
    .headerArea, .topArea {padding:20px !important;}
 /*only for templates without divBoxed*/

    
    #camera_wrap {margin-top:20px}

    #divVideo {margin-top:20px}

    
    .dropdown-menu .sub-menu {left:0%;position:relative;top:0;visibility:visible;margin-top:3px;display:block}

    .dropdown-menu, .sub-menu {border-radius:5px !important;}

    .navbar .ddmenu {margin-top: 0px;margin-bottom: 0px;}

}

/*** CUSTOM ***/
.sl_coms:before, .sl_views:before, .sl_modul:before, .sl_date:before, .sl_cat:before, .sl_faq:before, .sl_last:before, .sl_hits:before, .sl_outs:before, .sl_down:before, .sl_ed2k:before, .sl_http:before, .sl_plus:before, .sl_shop_add:before, .sl_shop_kasse:before, .sl_shop_total:before, .sl_post:before, .sl_votes:before, .sl_favor:before, .sl_n_day:before, .sl_n_days:before, .sl_n_week:before, .sl_n_act:before, .sl_n_deact:before, .sl_n_info:before, .sl_m_in:before, .sl_m_out:before, .sl_m_save:before {
  display: none;
}
.meta ul,
.statistic-info,
.navi-menu{
    margin: 0;
}
.meta i,
.statistic-info i{
    color: rgb(132, 164, 51);;
}
.meta ul li,
.statistic-info li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
hr.no-margin{
    margin: 5px;
}
a.sl_but_read,
a.sl_but,
body .navi-menu li a,
body a.sl_but{
    line-height: 20px;
}
.sl_but_read:hover{
    border-color: #7e9d31;
    opacity: 0.8;
}
.entry-content{
    margin-bottom: 10px;
    min-height: 80px;
}
.pagination{
    text-align: center;
}
body a.sl_but_blue,
body a.sl_but_green,
body .sl_pnum{
    line-height: 20px;
    color: #fff;
}
body .sl_pnum{
    font-weight: 100;
}
body a.sl_pnum:hover{
    background-color: #a4d682;
}
a.sl_but{
    color: #333;
}
.navi-menu li{
    display: inline-block;
    list-style-type: none;
    margin-bottom: 10px;
}
.block,
.block a{
    line-height: 16px;
}
.block h3 span{
    background: #8eb037;
    color: #fff;
    padding: 0 10px;
}
.block hr{
    margin: 10px 0;
}
.block input{
    margin-bottom: 0;
}
#repblockvoting ul{
    margin-left: 0;
}
#repblockvoting ul li{
    list-style-type: none;
    margin: 0 0 15px;
}
#repblockvoting form{
    margin-bottom: 0;
}
#repblockvoting label{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
}
#repblockvoting input{
    margin: 0;
    vertical-align: middle;
}
#repblockvoting .vote-links{
    margin-top: 10px;
}
#repblockvoting i{
    color: rgb(132, 164, 51);
}
#repblockvoting .vote-links,
#repblockvoting .vote-links a{
    color: #aaa;
    font-size: 12px;
}
#repblockvoting .vote-links .vote-link-vote{
    float: left;
}
#repblockvoting .vote-links .vote-link-comment{
    float: right;
}
.banner-top{
    text-align: center;
    margin-bottom: 10px;
}
.comment:before,
.comment .com-right .com-top:before,
.meta-foot:before,
.vote-links:before,
.comment:after,
.comment .com-right .com-top:after,
.meta-foot:after,
.vote-links:after {
    content:"";
    display:table;
}
.comment:after,
.comment .com-right .com-top:after,
.meta-foot:after,
.vote-links:after {
    clear:both;
}
.comment .com-right .com-top{
    margin-bottom: 10px;
}
.comment ul{
    list-style-type: none;
    margin: 0;
}
.comment .com-left{
    width: 13%;
}
.comment .com-left .min-rate{
    margin: 5px 0;
}
.comment .com-left .fp-user-info{
    font-size: 13px;
}
.comment .com-right{
    width: 80%;
}
.comment .com-right .dropdown{
    margin-right: 10px;
    height: 30px;
}
.comment .com-right .dropdown a{
    cursor: pointer;
}
.comment .com-right .sl_sig hr{
    margin: 5px 0;
}
.comment .dropdown-form{
    display: none;
    position: absolute;
    z-index: 1000;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    font-size: 12px;
    padding: 15px;
    min-width: 150px;
    list-style: outside none none;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    background-clip: padding-box;
}
.comment .com-right .carg .cargs{
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 12px;
}
.span8 .sl-all-categ > tbody > tr > td{
    vertical-align: top;
}
.span8 .sl-all-categ a{
    line-height: 16px;
    display: inline-block;
    margin-bottom: 5px;
}
.span8 .sl-all-categ,
.span8 .sl-all-categ a.sl_cat{
    line-height: 13px;
}
.span8 .sl-all-categ td i,
.span8 .sl-all-categ a.sl_cat{
    font-size: 12px;
}
.span8 .sl-all-categ .sl_categ{
    float: left;
}
.span8 .sl-all-categ .sl_categ > tbody > tr > td{
    padding: 0 10px;
}
.fullview hr{
    margin: 5px 0 10px;
}
.fullview .more-info{
    background: rgb(240, 240, 240);
    font-size: 12px;
    padding: 0 25px;
    margin: 20px 0;
}
.fullview .more-info a{
    font-size: 12px;
}
.fullview .more-info ul{
    list-style-type: none;
    display: inline-block;
    vertical-align: top;
    width: 44%;
    padding: 10px 0;
    margin: 0;
}
/* Форум */
/* Основное оформление форума */
.ft-topics { margin-bottom: 20px; }
.forum-table-head th {
    padding: 13px 15px 10px 15px;
    background-color: #f1f3f5;
    border-bottom: 1px solid #e7e7eb;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    white-space: nowrap;
}
.forum-table-head th a { color: #223345; }
.forum-table-head th:first-child { text-align: left; border-radius: 8px 0 0 0; }
.forum-table-head th:last-child { text-align: left; border-radius: 0 8px 0 0; }
.forum-table-foot td { padding-top: 10px; }
.forum-table-foot td:first-child { text-align: left; }
.forum-table-foot td:last-child { text-align: right; }
.forum-line td { border-bottom: 1px solid #e7e7eb; padding: 5px; font-size: .9em; }
.fl-col-icon { width: 32px; padding-right: 0 !important; }
.fl-col-icon-m { width: 16px; padding-right: 0 !important; }
.fl-col-last { width: 140px; }
.fl-col-num { text-align: center !important; width: 45px; padding-right: 0 !important; padding-left: 0 !important; text-align: center; }
.fl-col-stat { text-align: center !important; width: 80px; padding-right: 0 !important; padding-left: 0 !important; text-align: center; }
td.fl-col-stat { color: #556779; }
.fl-col-content h4, .fl-col-content h3 { font-size: 14px; margin: 0 0 0 0; }
.forum-description { margin: 0.2em 0 0 0; }
.forum-last { list-style: none; padding: 0; margin: 0; color: #556779; }
.forum-last img { vertical-align: middle; margin-top: -4px; }
.forum-cat-info img { vertical-align: middle; margin: -1px 5px 0 0; }

/* Список топиков */
.forum-top .pull-right { margin-left: 20px; }

/* Постраничная навигация топиков */
.forum-foot { margin-bottom: 50px; }
.forum-foot .pagelink { float: left; border-top-width: 0; padding: 0; height: auto; } 
.forum-foot .pager { float: left; padding-top: 0; text-align: left; font-size: 1em; }
.forum-foot .next-prev { float: left; margin-left: 20px; }
.forum-foot .next-prev * { display: block; width: 30px; height: 30px; }
.forum-foot .next-prev span { opacity: .4; }
.forum-foot .next, .forum-foot .prev { float: left; width: 30px; height: 30px; margin-left: 5px; position: static; top: auto; }
.forum-foot .next { right: auto; }
.forum-foot .prev { left: auto; }
.forum-foot .next .sl_num { background-position: -273px -185px; }
.forum-foot .prev .sl_num { background-position: -243px -185px; }
.forum-foot .next a.sl_num:hover { background-position: -273px -215px; }
.forum-foot .prev a.sl_num:hover { background-position: -243px -215px; }

/* Иконки пояснений в топиках */
.forum-list-info ul { list-style: none; padding: 0; margin: 0; }
.forum-list-info ul li { margin: 8px 0; }
.forum-list-info img { vertical-align: middle; margin: -3px 5px 0 0; }
.moder-mass { border-radius: 8px; border: 1px solid #e7e7eb; padding: 10px 15px; margin-bottom: 50px; }

/* Пост на форуме */
.forum-post {
    position: relative;
    border-bottom: 1px solid #e7e7eb;
    padding-bottom: 25px;
    margin-bottom: 25px;
    width: 100%;
} 
.forum-post-in { padding-left: 175px; }

/* Пост - информация слева */
.fp-left {
    float: left;
    width: 160px;
    text-align: center;
    padding-right: 15px;
    margin-left: -175px;
}
.fp-nickname { ; position: relative; height: 20px; padding: 0 14px 9px; margin-bottom: 20px; cursor: pointer; }
.fp-nickname b {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.fp-nickname:after { bottom: -8px; border-top-color: #fff; z-index: 1; }
.fp-left .sl_avatar { width: 100px; height: 100px; vertical-align: bottom; margin-bottom: 12px; }
.fp-user-info { list-style: none; margin: 12px 0 0; padding: 0; font-size: .9em; }

/* Пост - информация справа */
.fp-right { float: right; width: 100%; }
.fp-meta {
    background-color: #f1f3f5;
    border-radius: 8px;
    height: 20px;
    line-height: 20px;
    padding: 10px 15px;
    margin-bottom: 20px;
}
.fp-meta .grey { font-size: 12px; float: left; }
.fp-meta .grey a{ font-size: 12px; }
.fp-meta .pull-right .min-rate { float: left; }

/* Поиск по сайту */
.search-line { border-bottom: 1px solid #ebebee; margin: 15px 0 15px 0; padding: 0 0 15px 0; }
/*
.search-line .pull-right img { vertical-align: middle; margin-left: 3px; }
.search-line p { font-size: .9em; margin: .4em 0 0 0; }
*/
.search-meta ul { font-size: .9em; list-style: none; padding: 0 0 15px 0; margin: .4em 0 0 0; }
.search-meta > ul > li { float: left; margin-right: 20px; }
.search-meta > ul.pull-right > li { margin-right: 0; margin-left: 20px; }
.forum-post .dropdown-form{
    display: none;
    position: relative;
    z-index: 1000;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
    font-size: 12px;
    padding: 15px;
    min-width: 150px;
    list-style: outside none none;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
    background-clip: padding-box;
    text-align: left;
}
.forum-post .dropdown-form ul{
    list-style-type: none;
    margin: 0;
}
.forum-post fieldset,
.comment fieldset{
    padding: 5px;
    margin: 5px;
    border: 1px solid #DEE0E2;
    border-radius: 4px;
}
.forum-post fieldset legend,
.comment fieldset legend{
    padding: 5px 7px;
    border: 1px solid #DEE0E2;
    border-radius: 4px;
    display: inline;
    width: auto;
    margin-bottom: 00px;
    font-size: 14px;
    line-height: 16px;
    color: #8eb037;
}
.forum-top h1{
    line-height: 36px;
}
.forum-top h1 a{
    font-size: 36px;
}
.forum-line,
.forum-line a{
    font-size: 12px;
}
.forum-line:nth-child(odd){
    background: #f6f8f1;
}
.forum-line h3 a{
    font-size: 14px;
    line-height: 16px;
}
.forum-line h4 a,
.forum-line .forum-description{
    line-height: 16px;
}
.forum-line td.fl-col-content{
    padding: 10px;
}
.forum-cat-info{
    margin: 0;
    list-style: none;
}
/* Grid System */
.grid_1_2:after, .grid_1_4:after, .grid_1_3:after { content: ""; display: block; clear: both; }
.grid_1_3, .grid_1_2, .grid_1_4 { list-style: none; padding: 0; margin: 0; }
.grid { float: left; }
.grid_1_2 .grid { width: 49%; margin-left: 2%; }
.grid_1_2 .grid:first-child, .grid_1_4 .grid:first-child, .grid_1_3 .grid:first-child { margin-left: 0; }
.grid_1_4 .grid { margin-left: 2%; width: 23.5%; }
.grid_1_3 .grid { width: 32%; margin-left: 2%; }
/* Результаты опроса - Оформление прогресс бара */
.progress-line {
    background: #e7e7eb;
    border: 1px solid #ccc;
    border-radius: 2px;
    height: 6px;
    width: 100%;
    margin: 6px 0 12px 0;
}
.progress-line div { height: 4px; border-radius: 2px; text-indent: -9999px; overflow: hidden; }
.progress-1 div { 
    border: 1px solid #0078a5; background-color: #5c9ade;
    background: -moz-linear-gradient(top, #00adee 10%, #0078a5 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #00adee), color-stop(0.9, #0078a5));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.progress-2 div { 
    border: 1px solid #5c9425; background-color: #77af3f;
    background: -moz-linear-gradient(top, #8fc857 10%, #5c9425 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #8fc857), color-stop(0.9, #5c9425));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8fc857', endColorstr='#5c9425');
}
.progress-3 div { 
    border: 1px solid #f47a20; background-color: #faa51a;
    background: -moz-linear-gradient(top, #faa51a 10%, #f47a20 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #faa51a), color-stop(0.9, #f47a20));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.progress-4 div { 
    border: 1px solid #a92c2c; background-color: #c44747;
    background: -moz-linear-gradient(top, #dd5f5f 10%, #a92c2c 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #dd5f5f), color-stop(0.9, #a92c2c));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd5f5f', endColorstr='#a92c2c');
}
.progress-5 div { 
    border: 1px solid #8c2ca9; background-color: #8c2ca9;
    background: -moz-linear-gradient(top, #bf5fdd 10%, #8c2ca9 90%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.1, #bf5fdd), color-stop(0.9, #8c2ca9));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf5fdd', endColorstr='#8c2ca9');
}
.progress-info:after { content: ""; clear: both; display: block; }
.progress-info span { float: left; }
.progress-info .pull-right { float: right; color: #6e7c8b; }
.progress-info b { font-weight: normal; }
.search-meta a{
    line-height: 20px;
}
.search-meta  i {
  color: rgb(132, 164, 51);
}
.info_shop{
    background: rgb(240, 240, 240);
    padding: 10px;
    margin: 0 0 10px;
    list-style: none;
    border-radius: 8px;
}
.info_shop li{
    display: inline-block;
    vertical-align: middle;
}
.info_shop li a,
#shop a.sl_shop_kasse{
    display: block;
    padding: 2px 10px;
    color: #fff;
    background: #8eb037;
    cursor: pointer;
}
#shop a.sl_shop_kasse{
    display: inline-block;
}
.info_shop li a:hover,
#shop a.sl_shop_kasse:hover{
    opacity: 0.8;
    text-decoration: none;
}
.sl_shop_plus:before,
.sl_shop_minus:before{
    cursor: pointer;
}
.vote-list{
    list-style-type: none;
      margin: 0 0 15px 0;
}
.vote-list li{
    margin: 0 0 10px;
}
.vote-list label,
.vote-list input{
    display: inline-block;
    vertical-align: middle;
    margin: 0
}
.post-vote i{
    color: rgb(132, 164, 51);
}
.post-vote .vote-links,
.post-vote .vote-links a{
    font-size: 12px;
}
.post-vote .vote-links .vote-link-vote{
    padding-right: 50px;
}
.vote-btns{
    margin-bottom: 10px;
}
.table-acc-info{
    font-size: 14px;
}
@media (max-width: 979px) and (min-width: 768px){
    body .row-fluid .span4,
    body .row-fluid .span8{
        width: 100%;
        float: none;
    }
}
@media (max-width: 600px){
    body .com-left.pull-left,
    body .com-right.pull-right{
        float: none;
    }
}